<div class="todo-header">
    <h2>Todo List</h2>
</div>

<ul class="todo-body">
    <li class="todo-item">
        <span>Buy a new gaming laptop</span>
        <button>Delete</button>
    </li>
    <li class="todo-item">
        <span>Complete previous task</span>
        <button>Delete</button>
    </li>
    <li class="todo-item">
        <span>Create some Angular app</span>
        <button>Delete</button>
    </li>
</ul>

<div class="todo-actions">
    <input type="text" placeholder="Add your new todo">
    <button type="button">Add task</button>
</div>
