<div class="todo-header">
    <h2>{{ title }}</h2>
</div>

<ul class="todo-body">
    <li *ngFor="let todo of todos; index as i">
        <app-todo-item [todo]="todo" (todoOnDelete)="deleteTodo($event)"></app-todo-item>
    </li>

    <span class="todo-no-items" *ngIf="!todos.length">No records</span>
</ul>

<div class="todo-actions">
    <input class="input" type="text" placeholder="Add your new todo" [(ngModel)]="todoValue"/>
    <button class="button button--add" type="button" (click)="appendTodo(todoValue)" [disabled]="disabledSubmit">Add task</button>
</div>