  // Colors
  $danger-color: #ff4444;
  $warning-color: #ffbb33;
  $success-color: #00c851;
  $info-color: #33b5e5;
  
  $default-color: #2bbbad;
  $primary-color: #4285f4;
  $secondary-color: #aa66cc;